td, th, .pages-div {
    padding: 1em;
}

table {
    margin:auto;
}

.pages-div, .head-div {
    text-align: center;
}

.dataTables_info {
    display: None;
}

body {
    background-color: #FE9A2E;
}

.container {
    background-color: #FFFFFF;
    border-radius: 1em;
    box-shadow: 7px 7px 27px -6px rgba(0,0,0,1);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.head-div{
    margin-top: 0px;
    border-radius: 1em;
}

.padding-expand {
    transition: padding-bottom 0.2s;
}

.shrink-div .head-div {
    cursor: pointer;
}

.padding-expand:hover {
    padding-bottom: 2em;
}