{% extends 'search/base.html' %}
{% load custom_filters %}
{% load bootstrap_tags %}

{% block content %}
    <div class="container">
        <h2>Query</h2>
        <form method="GET" class="form-search">
            {{ form|as_bootstrap }}
            <button class="btn btn-default" type="submit">Search</button>
        </form>
    </div>
        
        {% if results.events %}    
        <div class="results-div container">
            <table id="results-table" class="table-striped table-bordered table-hover form-group pagination-centered">
                <thead>
                    <tr>
                        <th>Sr. #</th>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in results.events %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href={{event.url}} target="_blank">{{ event.name.text}}</a></td>
                        <td>{{event.start.local|process_date}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>            
        </div>
        
        <div class="container pages-div">
            {% for i in results.pagination.page_count|get_range %}
                <div style="display: inline"><a href="{{ url|concat_page_query:i}}">{{i}}</a></div>
            {% endfor %}
        </div> 
    {% endif %}
{% endblock %}