<html>
<head>
    <title>DJANGOOOO!</title>
    {% load custom_filters %}
</head>

<body>
    <h2>Query</h2>
    <form method="GET">
        {{ form.as_table }}
        <button type="submit">Search</button>
    </form>
    
    {% if results.events %}
    
    <div>
            {% for event in results.events %}
                <p>{{ event.name.text}}</p>
            {% endfor %}
        
    </div>
    
    <div>
        {% for i in results.pagination.page_count|get_range %}
            <div style="display: inline"><a href="{{ url|concat_page_query:i}}">{{i}}</a></div>
        {% endfor %}
    </div>
    
    {% endif %}
</body>
</html>