{% extends 'search/base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="container form-group">
        <h2>Query</h2>
        <form method="GET">
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            <button type="submit">Search</button>
        </form>
    </div>
        
        {% if results.events %}    
        <div class="results-div container">
            <table class="table-striped table-bordered table-hover form-group">
                {% for event in results.events %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href={{event.url}} target="_blank">{{ event.name.text}}</a></td>
                        <td>{{event.start.local}}</td>
                    </tr>
                {% endfor %}
            </table>            
        </div>
        
        <div class="container">
            {% for i in results.pagination.page_count|get_range %}
                <div style="display: inline"><a href="{{ url|concat_page_query:i}}">{{i}}</a></div>
            {% endfor %}
        </div> 
    {% endif %}
{% endblock %}